<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    <p>You have receieved a message from the site's contact form, from
    <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>
